<div class="row">
	<div class="span12" id="blue"></div>
</div>

<div class="row">
	<div class="span4" id="yellow"></div>
	<div class="span8" id="green"></div>
</div>

<div class="row">
	<div class="span4" id="orange"></div>
	<div class="span4" id="black"></div>
	<div class="span4" id="red"></div>
</div>